.logo{
    height: 40px;
    width: 50px;
}
/* Sidebar */
#sidebar {
    transition: transform 0.3s ease-in-out;
}

/* Overlay (Background) */
#overlay {
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);  /* Dark background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

/* Default hidden state for overlay */
#overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Sidebar initially hidden (off screen) */
#sidebar.translate-x-full {
    transform: translateX(100%);
    
}

/* Sidebar visible state (on screen) */
#sidebar.translate-x-0 {
    transform: translateX(0);
}
a{
    text-decoration: none;
    color: #0d1b2a;
    text-decoration: none;
    transition: 0.4s ease;
    
}
a:hover{
    color: #f4a261;

}
#logo-anchor{
    color: #f4a261;
}
#logo-anchor:hover{
    color: #fdf6ec;
}
#chat-box{
    height: 295px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}

#chathead{
color: #0d1b2a;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#chatcardd{
    height:496px;
    width:500px;
}