{% extends "index.html" %}

{% block content %}
{% load socialaccount %}

  <div class="mt-10 mx-auto max-w-xl bg-white shadow-md p-6 rounded-lg">
    <h1 class="text-2xl font-bold mb-6 text-[#0d1b2a] text-center">تسجيل الدخول إلى سواعد</h1>

    <form action="{% url 'login' %}" method="POST" class="space-y-4">
      {% csrf_token %}

      <div>
        <label for="email" class="block mb-1 text-[#0d1b2a] font-medium">البريد الالكتروني</label>
        <input type="email" name="email" id="email" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#f4a261]" placeholder="ادخل بريدك الالكتروني" required />
      </div>

      <div>
        <label for="password" class="block mb-1 text-[#0d1b2a] font-medium">كلمة المرور</label>
        <input type="password" name="password" id="password" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#f4a261]" placeholder="ادخل كلمة المرور" required />
      </div>

      <button type="submit" class="w-full bg-[#f4a261] text-white py-2 rounded hover:bg-[#e76f51] transition">
        تسجيل الدخول
      </button>
      <a href="{% provider_login_url 'google' %}">
        <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition w-full mt-4">
          تسجيل الدخول باستخدام Google
        </button>
      </a>
    </form>

    <p class="mt-4 text-center text-sm text-[#0d1b2a]">
      ليس لديك حساب؟
      <a href="{% url 'register' %}" class="text-[#f4a261] hover:underline">سجل الآن</a>
    </p>
  </div>
  <a class="text-[#f4a261] hover:underline" href="{% url 'chatbot' %}">💬 chatbot</a><!-- this link will be removed and placed in the right page later on  -->
{% endblock %}
